# Lending Club Data Analytics

### Importing the libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
import gc 
import time

## Setting display parameters

In [3]:
pd.set_option("display.max_columns",150)
pd.set_option("display.max_rows",15)
pd.set_option("display.max_colwidth",300)
pd.set_option('display.float_format', lambda x: '%.2f' % x)

## Loading the Data

We have two files that needs to be imported into the jupyternotebook for analysis.

In [4]:
file_1 = "C://Users//Piyush//Desktop//Language Learning//Project_2_Lending_Club_Loan//Lending_Club_Loan_data_analytics//Lending_Club_Loan_Data.csv"
dataset_loan = pd.read_csv(file_1,engine ="c",low_memory=False)

In [5]:
file_2 = "C://Users//Piyush//Desktop//Language Learning//Project_2_Lending_Club_Loan//Lending_Club_Data_Analysis//LCDataDictionary.xlsx"
dataset_meta_desc = pd.read_excel(file_2,nrows=151,usecols=[0,1])

In [28]:
dataset_meta_desc

,LoanStatNew,Description
0,acc_now_delinq,The number of accounts on which the borrower is now delinquent.
1,acc_open_past_24mths,Number of trades opened in past 24 months.
2,addr_state,The state provided by the borrower in the loan application
3,all_util,Balance to credit limit on all trades
4,annual_inc,The self-reported annual income provided by the borrower during registration.
...,...,...
146,settlement_status,"The status of the borrower’s settlement plan. Possible values are: COMPLETE, ACTIVE, BROKEN, CANCELLED, DENIED, DRAFT"
147,settlement_date,The date that the borrower agrees to the settlement plan
148,settlement_amount,The loan amount that the borrower has agreed to settle for
149,settlement_percentage,The settlement amount as a percentage of the payoff balance amount on the loan
150,settlement_term,The number of months that the borrower will be on the settlement plan

DataFrame "dataset_meta_desc" has descriptions regarding the columns that are present in the Dataframe dataset_loan. This will help us to know what does a particular columns does.

In [5]:
dataset_loan.head(5)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,2500,2500,2500.00,36 months,13.56,84.92,C,C1,Chef,10+ years,RENT,55000.00,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,109xx,NY,18.24,0.00,Apr-2001,1.00,NaN,45.00,9.00,1.00,4341,10.30,34.00,w,2386.02,2386.02,167.02,167.02,113.98,53.04,0.00,0.00,0.00,Feb-2019,84.92,Mar-2019,Feb-2019,0.00,NaN,1,Individual,NaN,NaN,NaN,0.00,0.00,16901.00,2.00,2.00,1.00,2.00,2.00,12560.00,69.00,2.00,7.00,2137.00,28.00,42000.00,1.00,11.00,2.00,9.00,1878.00,34360.00,5.90,0.00,0.00,140.00,212.00,1.00,1.00,0.00,1.00,NaN,2.00,NaN,0.00,2.00,5.00,3.00,3.00,16.00,7.00,18.00,5.00,9.00,0.00,0.00,0.00,3.00,100.00,0.00,1.00,0.00,60124.00,16901.00,36500.00,18124.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,30000,30000,30000.00,60 months,18.94,777.23,D,D2,Postmaster,10+ years,MORTGAGE,90000.00,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,713xx,LA,26.52,0.00,Jun-1987,0.00,71.00,75.00,13.00,1.00,12315,24.20,44.00,w,29387.75,29387.75,1507.11,1507.11,612.25,894.86,0.00,0.00,0.00,Feb-2019,777.23,Mar-2019,Feb-2019,0.00,NaN,1,Individual,NaN,NaN,NaN,0.00,1208.00,321915.00,4.00,4.00,2.00,3.00,3.00,87153.00,88.00,4.00,5.00,998.00,57.00,50800.00,2.00,15.00,2.00,10.00,24763.00,13761.00,8.30,0.00,0.00,163.00,378.00,4.00,3.00,3.00,4.00,NaN,4.00,NaN,0.00,2.00,4.00,4.00,9.00,27.00,8.00,14.00,4.00,13.00,0.00,0.00,0.00,6.00,95.00,0.00,1.00,0.00,372872.00,99468.00,15000.00,94072.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,5000,5000,5000.00,36 months,17.97,180.69,D,D1,Administrative,6 years,MORTGAGE,59280.00,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,490xx,MI,10.51,0.00,Apr-2011,0.00,NaN,NaN,8.00,0.00,4599,19.10,13.00,w,4787.21,4787.21,353.89,353.89,212.79,141.10,0.00,0.00,0.00,Feb-2019,180.69,Mar-2019,Feb-2019,0.00,NaN,1,Individual,NaN,NaN,NaN,0.00,0.00,110299.00,0.00,1.00,0.00,2.00,14.00,7150.00,72.00,0.00,2.00,0.00,35.00,24100.00,1.00,5.00,0.00,4.00,18383.00,13800.00,0.00,0.00,0.00,87.00,92.00,15.00,14.00,2.00,77.00,NaN,14.00,NaN,0.00,0.00,3.00,3.00,3.00,4.00,6.00,7.00,3.00,8.00,0.00,0.00,0.00,0.00,100.00,0.00,0.00,0.00,136927.00,11749.00,13800.00,10000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,4000,4000,4000.00,36 months,18.94,146.51,D,D2,IT Supervisor,10+ years,MORTGAGE,92000.00,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,985xx,WA,16.74,0.00,Feb-2006,0.00,NaN,NaN,10.00,0.00,5468,78.10,13.00,w,3831.93,3831.93,286.71,286.71,168.07,118.64,0.00,0.00,0.00,Feb-2019,146.51,Mar-2019,Feb-2019,0.00,NaN,1,Individual,NaN,NaN,NaN,0.00,686.00,305049.00,1.00,5.00,3.00,5.00,5.00,30683.00,68.00,0.00,0.00,3761.00,70.00,7000.00,2.00,4.00,3.00,5.00,30505.00,1239.00,75.20,0.00,0.00,62.00,154.00,64.00,5.00,3.00,64.00,NaN,5.00,NaN,0.00,1.00,2.00,1.00,2.00,7.00,2.00,3.00,2.00,10.00,0.00,0.00,0.00,3.00,100.00,100.00,0.00,0.00,385183.00,36151.00,5000.00,44984.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,30000,30000,30000.00,60 months,16.14,731.78,C,C4,Mechanic,10+ years,MORTGAGE,57250.00,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,212xx,MD,26.35,0.00,Dec-2000,0.00,NaN,NaN,12.00,0.00,829,3.60,26.00,w,29339.02,29339.02,1423.21,1423.21,660.98,762.23,0.00,0.00,0.00,Feb-2019,731.78,Mar-2019,Feb-2019,0.00,NaN,1,Individual,NaN,NaN,NaN,0.00,0.00,116007.00,3.00,5.00,3.00,5.00,4.00,28845.00,89.00,2.00,4.00,516.00,54.00,23100.00,1.00,0.00,0.00,9.00,9667.00,8471.00,8.90,0.00,0.00,53.00,216.00,2.00,2.00,2.00,2.00,NaN,13.00,NaN,0.00,2.00,2.00,3.00,8.00,9.00,6.00,15.00,2.00,12.00,0.00,0.00,0.00,5.00,92.30,0.00,0.00,0.00,157548.00,29674.00,9300.00,32332.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
dataset_loan.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2260668 entries, 0 to 2260667
Columns: 145 entries, id to settlement_term
dtypes: float64(105), int64(4), object(36)
memory usage: 5.8 GB

In [7]:
dataset_loan.describe()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,url,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,annual_inc_joint,dti_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,deferral_term,hardship_amount,hardship_length,hardship_dpd,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,settlement_amount,settlement_percentage,settlement_term
count,0.00,0.00,2260668.00,2260668.00,2260668.00,2260668.00,2260668.00,2260664.00,0.00,2258957.00,2260639.00,2260638.00,1102166.00,359156.00,2260639.00,2260639.00,2260668.00,2258866.00,2260639.00,2260668.00,2260668.00,2260668.00,2260668.00,2260668.00,2260668.00,2260668.00,2260668.00,2260668.00,2260668.00,2260523.00,580775.00,2260668.00,120710.00,120706.00,2260639.00,2190392.00,2190392.00,1394538.00,1394539.00,1394539.00,1394539.00,1350744.00,1394539.00,1191818.00,1394539.00,1394539.00,1394539.00,1394320.00,2190392.00,1394539.00,1394538.00,1394538.00,2210638.00,2190322.00,2185733.00,2184597.00,2260523.00,2260639.00,2121597.00,2190391.00,2190391.00,2190392.00,2210638.00,2187256.00,519701.00,1965233.00,740359.00,2190392.00,2190392.00,2190392.00,2202078.00,2190392.00,2190392.00,2190392.00,2190391.00,2190392.00,2202078.00,2107011.00,2190392.00,2190392.00,2190392.00,2190237.00,2185289.00,2259303.00,2260563.00,2190392.00,2210638.00,2210638.00,2190392.00,108020.00,108021.00,108021.00,108021.00,106184.00,108021.00,108021.00,108021.00,108021.00,35942.00,10613.00,10613.00,10613.00,10613.00,8426.00,10613.00,10613.00,33056.00,33056.00,33056.00
mean,NaN,NaN,15046.93,15041.66,15023.44,13.09,445.81,77992.43,NaN,18.82,0.31,0.58,34.54,72.31,11.61,0.20,16658.46,50.34,24.16,4446.29,4445.29,11824.03,11805.94,9300.14,2386.35,1.46,136.07,22.59,3364.02,0.02,44.16,1.00,123624.64,19.25,0.00,232.73,142492.20,0.93,2.78,0.68,1.56,21.22,35506.65,69.14,1.29,2.75,5806.39,57.03,34573.94,1.01,1.48,2.04,4.52,13547.80,11394.26,57.90,0.01,12.37,125.74,181.49,14.02,8.30,1.56,24.84,39.30,7.02,35.78,0.50,3.68,5.63,4.77,7.73,8.41,8.25,14.00,5.58,11.63,0.00,0.00,0.08,2.08,94.11,42.44,0.13,0.05,178242.75,51022.94,23193.77,43732.01,33617.28,0.63,1.54,11.47,58.17,3.01,12.53,0.05,0.08,36.94,3.00,155.01,3.00,13.69,454.84,11628.04,193.61,5030.61,47.78,13.15
std,NaN,NaN,9190.25,9188.41,9192.33,4.83,267.17,112696.20,NaN,14.18,0.87,0.89,21.90,26.46,5.64,0.57,22948.31,24.71,11.99,7547.61,7546.66,9889.60,9884.83,8304.89,2663.09,11.50,725.83,127.11,5971.76,0.15,21.53,0.00,74161.35,7.82,0.07,8518.46,160692.64,1.14,3.00,0.93,1.58,26.05,44097.46,23.75,1.51,2.60,5690.56,20.90,36728.50,1.49,2.67,2.38,3.16,16474.08,16599.53,28.58,0.10,726.46,53.38,97.12,17.53,9.21,1.90,32.32,22.62,5.97,22.31,1.35,2.32,3.38,3.04,4.70,7.36,4.68,8.04,3.29,5.64,0.03,0.06,0.49,1.83,9.04,36.22,0.36,0.38,181574.81,49911.24,23006.56,45072.98,28153.87,0.99,1.76,6.63,25.55,3.28,8.15,0.41,0.41,23.92,0.00,129.11,0.00,9.73,375.83,7615.16,198.69,3692.03,7.34,8.19
min,NaN,NaN,500.00,500.00,0.00,5.31,4.93,0.00,NaN,-1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,-0.00,0.00,0.00,0.00,0.00,0.00,1.00,5693.51,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,3.00,0.64,3.00,0.00,1.92,55.73,0.01,44.21,0.20,0.00
25%,NaN,NaN,8000.00,8000.00,8000.00,9.49,251.65,46000.00,NaN,11.89,0.00,0.00,16.00,55.00,8.00,0.00,5950.00,31.50,15.00,0.00,0.00,4272.58,4257.73,2846.18,693.61,0.00,0.00,0.00,308.64,0.00,27.00,1.00,83400.00,13.53,0.00,0.00,29092.00,0.00,1.00,0.00,0.00,7.00,8695.00,55.00,0.00,1.00,2284.00,43.00,14700.00,0.00,0.00,0.00,2.00,3080.00,1722.00,35.40,0.00,0.00,96.00,116.00,4.00,3.00,0.00,6.00,21.00,2.00,17.00,0.00,2.00,3.00,3.00,4.00,3.00,5.00,8.00,3.00,8.00,0.00,0.00,0.00,1.00,91.30,0.00,0.00,0.00,50731.00,20892.00,8300.00,15000.00,15106.75,0.00,0.00,7.00,39.80,1.00,7.00,0.00,0.00,16.00,3.00,59.37,3.00,5.00,174.97,5628.73,43.78,2227.00,45.00,6.00
50%,NaN,NaN,12900.00,12875.00,12800.00,12.62,377.99,65000.00,NaN,17.84,0.00,0.00,31.00,74.00,11.00,0.00,11324.00,50.30,22.00,0.00,0.00,9060.87,9043.08,6823.39,1485.28,0.00,0.00,0.00,588.47,0.00,44.00,1.00,110000.00,18.84,0.00,0.00,79240.00,1.00,2.00,0.00,1.00,13.00,23127.00,72.00,1.00,2.00,4413.00,58.00,25400.00,1.00,0.00,1.00,4.00,7335.00,5442.00,60.20,0.00,0.00,130.00,164.00,8.00,6.00,1.00,14.00,37.00,5.00,33.00,0.00,3.00,5.00,4.00,7.00,6.00,7.00,12.00,5.00,11.00,0.00,0.00,0.00,2.00,100.00,37.50,0.00,0.00,114298.50,37864.00,16300.00,32696.00,26516.50,0.00,1.00,10.00,60.20,2.00,11.00,0.00,0.00,36.00,3.00,119.04,3.00,15.00,352.61,10044.22,132.89,4172.85,45.00,14.00
75%,NaN,NaN,20000.00,20000.00,20000.00,15.99,593.32,93000.00,NaN,24.49,0.00,1.00,50.00,92.00,14.00,0.00,20246.00,69.40,31.00,6712.63,6710.32,16707.97,16682.57,13397.50,3052.22,0.00,0.00,0.00,3534.97,0.00,62.00,1.00,147995.00,24.62,0.00,0.00,213204.00,1.00,3.00,1.00,2.00,24.00,46095.00,86.00,2.00,4.00,7598.00,72.00,43200.00,1.00,2.00,3.00,6.00,18783.00,14187.00,83.10,0.00,0.00,154.00,232.00,17.00,11.00,3.00,30.00,57.00,11.00,51.00,0.00,5.00,7.00,6.00,10.00,11.00,10.00,18.00,7.00,14.00,0.00,0.00,0.00,3.00,100.00,71.40,0.00,0.00,257755.00,64350.00,30300.00,58804.25,43769.00,1.00,2.00,15.00,78.60,4.00,17.00,0.00,0.00,56.00,3.00,213.26,3.00,22.00,622.79,16114.94,284.18,6870.78,50.00,18.00
max,NaN,NaN,40000.00,40000.00,40000.00,30.99,1719.83,110000000.00,NaN,999.00,58.00,33.00,226.00,129.00,101.00,86.00,2904836.00,892.30,176.00,40000.00,40000.00,63296.88,63296.88,40000.00,28192.50,1427.25,39859.55,7174.72,42192.05,20.00,226.00,1.00,7874821.00,69.49,14.00,9152545.00,9971659.00,18.00,57.00,25.00,51.00,511.00,1837038.00,1000.00,28.00,60.00,1170668.00,239.00,9999999.00,48.00,111.00,67.00,64.00,958084.00,711140.00,339.60,10.00,249925.00,999.00,999.00,547.00,382.00,94.00,661.00,202.00,25.00,202.00,58.00,50.00,72.00,71.00,86.00,159.00,91.00,151.00,65.00,101.00,7.00,4.00,58.00,32.00,100.00,100.00,12.00,85.00,9999999.00,3408095.00,1569000.00,2118996.00,1110019.00,6.00,27.00,82.00,434.30,43.00,106.00,21.00,23.00,185.00,3.00,943.94,3.00,37.00,2680.89,40306.41,1407.86,33601.00,521.35,181.00

## Data Cleaning

In this section we will be performing cleaning and transformation operations on the dataset to make the data clean and easier to handle.

In [31]:
dataset_loan.isnull().sum()

id                                            2260668
member_id                                     2260668
loan_amnt                                           0
funded_amnt                                         0
funded_amnt_inv                                     0
term                                                0
int_rate                                            0
installment                                         0
grade                                               0
sub_grade                                           0
emp_title                                      166969
emp_length                                     146907
home_ownership                                      0
annual_inc                                          4
verification_status                                 0
issue_d                                             0
loan_status                                         0
pymnt_plan                                          0
url                                           2260668
desc                                          2134601
purpose                                             0
title                                           23325
zip_code                                            1
addr_state                                          0
dti                                              1711
delinq_2yrs                                        29
earliest_cr_line                                   29
inq_last_6mths                                     30
mths_since_last_delinq                        1158502
mths_since_last_record                        1901512
open_acc                                           29
pub_rec                                            29
revol_bal                                           0
revol_util                                       1802
total_acc                                          29
initial_list_status                                 0
out_prncp                                           0
out_prncp_inv                                       0
total_pymnt                                         0
total_pymnt_inv                                     0
total_rec_prncp                                     0
total_rec_int                                       0
total_rec_late_fee                                  0
recoveries                                          0
collection_recovery_fee                             0
last_pymnt_d                                     2426
last_pymnt_amnt                                     0
next_pymnt_d                                  1303607
last_credit_pull_d                                 73
collections_12_mths_ex_med                        145
mths_since_last_major_derog                   1679893
policy_code                                         0
application_type                                    0
annual_inc_joint                              2139958
dti_joint                                     2139962
verification_status_joint                     2144938
acc_now_delinq                                     29
tot_coll_amt                                    70276
tot_cur_bal                                     70276
open_acc_6m                                    866130
open_act_il                                    866129
open_il_12m                                    866129
open_il_24m                                    866129
mths_since_rcnt_il                             909924
total_bal_il                                   866129
il_util                                       1068850
open_rv_12m                                    866129
open_rv_24m                                    866129
max_bal_bc                                     866129
all_util                                       866348
total_rev_hi_lim                                70276
inq_fi                                         866129
total_cu_tl                                    866130
inq_last_12m                                   866130
acc_open_past_24mths                            50030
avg_cur_bal                                     70346
bc_open_to_buy                                  74935
bc_util                                         76071
chargeoff_within_12_mths                          145
delinq_amnt                                        29
mo_sin_old_il_acct                             139071
mo_sin_old_rev_tl_op                            70277
mo_sin_rcnt_rev_tl_op                           70277
mo_sin_rcnt_tl                                  70276
mort_acc                                        50030
mths_since_recent_bc                            73412
mths_since_recent_bc_dlq                      1740967
mths_since_recent_inq                          295435
mths_since_recent_revol_delinq                1520309
num_accts_ever_120_pd                           70276
num_actv_bc_tl                                  70276
num_actv_rev_tl                                 70276
num_bc_sats                                     58590
num_bc_tl                                       70276
num_il_tl                                       70276
num_op_rev_tl                                   70276
num_rev_accts                                   70277
num_rev_tl_bal_gt_0                             70276
num_sats                                        58590
num_tl_120dpd_2m                               153657
num_tl_30dpd                                    70276
num_tl_90g_dpd_24m                              70276
num_tl_op_past_12m                              70276
pct_tl_nvr_dlq                                  70431
percent_bc_gt_75                                75379
pub_rec_bankruptcies                             1365
tax_liens                                         105
tot_hi_cred_lim                                 70276
total_bal_ex_mort                               50030
total_bc_limit                                  50030
total_il_high_credit_limit                      70276
revol_bal_joint                               2152648
sec_app_earliest_cr_line                      2152647
sec_app_inq_last_6mths                        2152647
sec_app_mort_acc                              2152647
sec_app_open_acc                              2152647
sec_app_revol_util                            2154484
sec_app_open_act_il                           2152647
sec_app_num_rev_accts                         2152647
sec_app_chargeoff_within_12_mths              2152647
sec_app_collections_12_mths_ex_med            2152647
sec_app_mths_since_last_major_derog           2224726
hardship_flag                                       0
hardship_type                                 2250055
hardship_reason                               2250055
hardship_status                               2250055
deferral_term                                 2250055
hardship_amount                               2250055
hardship_start_date                           2250055
hardship_end_date                             2250055
payment_plan_start_date                       2250055
hardship_length                               2250055
hardship_dpd                                  2250055
hardship_loan_status                          2250055
orig_projected_additional_accrued_interest    2252242
hardship_payoff_balance_amount                2250055
hardship_last_payment_amount                  2250055
disbursement_method                                 0
debt_settlement_flag                                0
debt_settlement_flag_date                     2227612
settlement_status                             2227612
settlement_date                               2227612
settlement_amount                             2227612
settlement_percentage                         2227612
settlement_term                               2227612
dtype: int64

As we have more than 100 columns in the dataframe dataset_loan it's very difficult to check one by one the number of null_values and evaluate which columns are necessary for our data analysis of Lending Club. Hence will be making a new dataframe which contains these information and will be know as dataset_meta along with the descriptive information about the columns.

In [ ]:
# making a dataset_meta function
def meta_function(value)

In [ ]:
dataset_meta = pd.DataFrame(columns=["Column_Name","NaN_Values","NaN_Value_Percentage","Non_NaN_Values","Unique_Values","Dtype"])
l = len(dataset_loan)
start_time=time.time()
for i in dataset_loan.columns:
    n = dataset_loan[i].isnull().sum()
    dataset_meta.loc[len(dataset_meta),:]=[i,
                                            n,
                                            n/l*100,
                                            dataset_loan[i].notnull().sum(),
                                            dataset_loan[i].unique().sum(),
                                            dataset_loan[i].dtype]

print("%s seconds" %(time.time() - start_time))

In [ ]:
print("hello")

In [1]:
dataset_loan

NameError: name 'dataset_loan' is not defined